{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="contact-form">
  <div class="container">
    {{ with site.Params.contact.form }}
    <div class="row">
      <form method="POST" {{ if .use_netlify }}name="{{ printf "contact_%s" $.Language.Lang }}" action="{{ "/message_sent" | relLangURL }}" netlify netlify-honeypot="nhp"{{ else }}name="contact" action="{{ .action | safeURL }}"{{ end }}>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <label for="name" hidden>Your name</label>
              <input id="name" name="name" type="text" class="form-control" placeholder="Your name" required>
            </div>
            <div class="form-group">
              <label for="email" hidden>Your name"contact_form_email" }}</label>
              <input id="email" name="email" type="email" autocomplete="email" class="form-control" placeholder="Your e-mail address" required>
            </div>
            <div class="form-group">
              <label for="subject" hidden>Subject</label>
              <input id="subject" name="subject" type="text" class="form-control" placeholder="Subject" required>
            </div>
            {{ if .use_netlify }}
            <div class="form-group-h">
              <input name="nhp" type="text" class="form-control" placeholder="Are you made of flesh and bone?">
            </div>
            {{ end -}}
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group-2">
              <label for="message" hidden>Message</label>
              <textarea id="message" name="message" class="form-control" rows="4" placeholder="Message" required></textarea>
            </div>
            <button class="btn btn-default" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
    {{ end }}
    <div class="contact-box row">
      {{ with site.Params.contact }}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <ul class="social-icons">
            {{ range site.Params.social }}
            <li><a href="{{.link}}">{{ partial "svg" .icon }}</a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      <h2>Contact Details</h2>
      {{ with site.Params.contact }}
      <ul>
        <li>Name: {{ site.Params.author }}</li>
        {{ with .email }}
        <li>Email: <a href="mailto:{{partial `cloak_email` .}}">{{ partial "cloak_email" . }}</a></li>
        {{ end }}

        {{ with .phone }}
        <li>Phone: <a href="mailto:{{.}}">{{.}}</a></li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
