{{ define "main" }}

{{ with .Params.banner }}
<section class="slider {{if .bg_overlay}}overly{{end}}" style="background-image: url('{{.bg_image|relURL}}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h1>{{ . | markdownify }}</h1>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          {{ with .button }}
          <a href="{{.link}}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.about }}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | upper | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="{{.image|relURL}}" class="img-responsive" alt="Img">
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.portfolio }}
<section class="portfolio feature bg-2 {{if .bg_overlay}}overly{{end}}" style="background-image: url('{{.bg_image|relURL}}')">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6 text-center text-md-start">
        {{ with .title }}<h2>{{ . | upper | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        {{ with .button }}
        <a href="{{.link}}" class="btn btn-view-works">{{.label}}</a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ with .Params.service }}
{{ partial "service.html" . }}
{{ end }}

{{ with .Params.callToAction }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
